# Virtual environments
venv/
.venv/
env/
my_venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment variables (VERY important)
.env

# VSCode
.vscode
